recursive-include crick *.pyx
recursive-include crick *.py
recursive-include crick *.c

include setup.py
include README.rst
include LICENSE
include EXTERNAL_LICENSES
include MANIFEST.in
include versioneer.py
include crick/_version.py
