name: Build and upload to PyPI

on:
  push:
  pull_request:
  release:
    types:
      - released
      - prereleased

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    env:
      CIBW_SKIP: "pp*"
      CIBW_ENVIRONMENT: "SETUPTOOLS_USE_DISTUTILS=stdlib"
      CIBW_BEFORE_BUILD: pip install numpy --config-settings=setup-args="-Dallow-noblas=true"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Needed to retrieve tags for determining crick version number

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.4

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Needed to retrieve tags for determining crick version number

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  list_artifacts:
    name: List build artifacts
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - name: test
        run: |
          ls
          ls dist

  upload_pypi:
    needs: [build_wheels, build_sdist]
    if: "startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          # repository_url: https://test.pypi.org/legacy/ # For testing